
<%- include("partials/header.ejs") %>
        <% todos.forEach((todo) => { %>
          <a href="/todos/<%=todo.title%>" class="btn">
            <%= todo.title %>
        </a>
            <p >
                <%=todo.desc%>
            </p>
            <h5 class = text-3xl>
                <%=todo.comp ? "done" : "undone"%>
            </h5>
            <br>
            <br>
        <% }) %>

        <%- include("partials/footer.ejs") %>